.customize-control-title {
    font-weight: 300;
    margin-bottom: 8px;
}

.customize-control {
    padding-top: 5px;
    padding-bottom: 5px;
}

.customize-control label {
    font-weight: 300;
}
a.counsel-pro-link {
    display: inline-block;
    background-color: #d75600;
    color: #ffffff;
    margin-top: 5px;
    padding: 4px 7px;
}