@import url(//fonts.googleapis.com/css?family=Arimo);
body{
    background-color:#f8f8f8;	
    color: #212121;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    width:100%;
}
.section-row{
    padding: 80px 0;
}
.bypostauthor{}
.main-title{
    text-align: center;
}
.main-title h2{
    margin-top: 0;
    font-size: 32px;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;  
}
.main-title h2 > span{
    border-bottom: 2px solid #82b440;
    position: relative;
    display: inline-block;
    padding: 4px 0 1px 0;
}
.main-title h2 > span::before {
    border-top: 2px solid #82b440;
    content: "";
    left: 28%;
    position: absolute;
    top: 0;
    width: 40%;
}
.main-title p{
    line-height: 26px;
    margin-top: 15px;
    color: #545454;
}
/*************************
    normal css
*************************/
a{
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    color: #212121;
}
a:hover,
a:active{
    color: #82b440;
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
.default-color{
    color: #09a59c;
}
.page-margin-top{
    margin-top: 65px;
}
.theme-content{
    padding: 0;
}
.section-row p{
    font-size: 15px;
    color: #545454;
}
img{
    max-width: 100%;
    height: auto;
}
.theme-content{
    margin-bottom: 35px;
}
.page-margin-top{
    margin-top: 50px;
}
/***end***/
/**style button**/
.theme-btn-group {
    margin-top: 20px;
    text-align: center;
}
.default-btn{
    border: 2px solid #82b440;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 35px 9px;
    color: #82b440;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    position: relative;
    z-index: 1;
}
.default-btn:hover,
.default-btn:focus,
.default-btn:active{
    color: #212121;
    border-color: #ffffff;
    background-color: #ffffff;
    border-color: #212121;
}

/**curve bg*/
.curve-bg {
    background-color: rgba(130, 180, 64, 0.5);
    bottom: 0;
    height: auto;
    left: auto;
    overflow: hidden;
    position: absolute;
    right: -20%;
    top: 0;
    transform: skew(-32deg, 0deg);
    width: 55%;
    z-index: 1;
}
.theme-container{
    padding: 0;
}
/*******Half Circle******/
.half-circle-top,
.half-circle-bottom{
    background: none repeat scroll 0 0 #f8f8f8;
    border-radius: 0 0 50% 50% ;
    bottom: 0;
    top: -35px;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 79px;
    z-index: 1;
}
.half-circle-bottom{
    top: auto;
    bottom: -35px;
    border-radius: 50% 50% 0 0;
}
.blur-bg{
    background-color: rgba(0,0,0,0.70);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

/****************
    normal css end
***********************/
.master-head{
    background: url(../images/head-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 0 65px 0;
    position: relative;
    margin-bottom: 35px;
}

header {
    background-color: #ffffff;
    display: block;
    height: auto;
    padding: 0px 0;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 3px #212121;
    -webkit-box-shadow: 0 0 3px #212121;
}

.header-logo{
    padding: 25px 0px;
}
.header-logo  a{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}
.master-head .header-bg{
    background-color: rgba(0, 0, 0, 0.8);
}
/********** master head end***********/
/**********nvigation**************/
#main-menu { 
    float: right;
    margin: 0;
    padding: 0; 
    line-height: normal;
}
#main-menu ul {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#main-menu ul li {
    display: inline-block;
    cursor: pointer;
    padding: 25px 0 ;
    position: relative;
}
#main-menu > ul > li::after {
    content: "/";
}
#main-menu > ul > li:last-child:after{
    content: "";
}
#main-menu a{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin: 0px 15px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
#main-menu ul li ul {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    border-color: #82b440;
    border-style: solid;
    border-width: 3px 1px;
    opacity: 0;
    visibility: hidden;
    float: left;
    right: 0;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    top: 80px;
    width: 236px;
    z-index: 10;
}
#main-menu ul > li > ul.sub-menu {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.15) inset;
}
#main-menu ul li ul li{
    display: inline;
    float: left;
    line-height: 24px;
    padding: 0px;
    position: relative;
    width: 100%;
}
#main-menu ul li ul li:last-child{
    border-bottom: none;
}
#main-menu ul li ul li a{
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0 15px;
    position: relative;
    text-transform: uppercase;
}
#main-menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
#main-menu ul li ul:hover li ul{
    
}
#main-menu ul li ul li ul {
    border-color: #82b440;
    border-style: solid;
    border-width: 3px 1px;
    right: 100%;
    padding-top: 5px;
    top: 15px;
}
#main-menu ul li.current-menu-item > a{
    color: #82b440;
    border-bottom: 1px solid #82b440;
}
#main-menu ul > li > .megamenu-child-container{
    display: none;
}
.menu-item-widget-area-container{
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu-item-widget-area-container .widget{
    display: inline;
    padding: 0;
}
.menu-item-widget-area-container ul{
    margin: 0;
    padding: 0;
}
.menu-item-widget-area-container .widget ul li{
    border-bottom: 1px dashed #ededed;
    color: #1e1e1e;
    display: block;
    margin-bottom: 10px;
}
.menu-item-widget-area-container .widget ul li a{
    color: #1e1e1e;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.megamenu-child-container > ul.sub-menu > li > p{
    margin-bottom: 30px;
}
.dt-menu-toggle{
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
}
.dt-menu-toggle-icon:before, .dt-menu-toggle-icon:after{
    background-color: #ffffff;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 20px;
}
.dt-menu-toggle-icon:after{
    top: 5px;
}
.dt-menu-toggle-icon{
    background-color: #ffffff;
    display: inline-block;
    float: right;
    height: 2px;
    margin-top: 10px;
    position: relative;
    text-align: left;
    width: 20px;
}
.overline li a, .overline{
    display: inline-block;
    padding: 8px 0;
    position: relative;
    text-shadow: none;
}
.overline li a::before, .overline::before{
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    -moz-transition: max-width 0.5s;
    -ms-transition: max-width 0.5s;
    -o-transition: max-width 0.5s;
    overflow: hidden;
    padding: 8px 0;
    position: absolute;
    top: 0;
    transition: max-width 0.5s;
    -webkit-transition: max-width 0.5s;
}
.overline li a:before,
.overline:before{
    bottom: 0;
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    -moz-transition: max-width 0.5s;
    -ms-transition: max-width 0.5s;
    -o-transition: max-width 0.5s;
    overflow: hidden;
    padding: 8px 0;
    position: absolute;
    transition: max-width 0.5s;
    -webkit-transition: max-width 0.5s;
    z-index: 0;
}
.overline:before{
    border-bottom: 1px solid #82b440;
}
ul.sub-menu li, ul.sub-menu .overline{
    width: 90%;
}
ul.sub-menu .overline::before{
    content: "";
    max-width: 0;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
    -webkit-transition: max-width 0.5s;
    width: 100%;
}
ul.sub-menu .overline:hover::before,
ul.sub-menu li.current-menu-item .overline::before{
    max-width: 100%;
}
ul.sub-menu .overline{
    margin: 15px 5%;
}
ul.sub-menu .overline::before{
    border-top: 0 none;
}
.overline li a:hover:before, 
.overline li a:focus:before, 
.overline li.current-menu-item a:before, 
.overline:hover:before,
.overline:focus:before,
.current-menu-item .overline:before,
.dt-sc-services .dt-sc-icon.type1:hover .overline:before, 
#main-menu ul > li:hover > a.overline:before{
    max-width: 100%;
}
.overline.overline-right::before{
    left: auto;
    right: 0;
}
.overline.overline-right:before{
    left: auto;
    right: 0;
}
.overline.overline-left::before{
    left: 0;
    right: auto;
}
.overline.overline-left:before{
    left: 0;
    right: auto;
}
.post-prev-link a.overline-right:after, .post-prev-link a.overline-right:after, .post-next-link a.overline-left:after{
    font-family: fontawesome;
    opacity: 0;
    position: absolute;
}
.post-prev-link a.overline-right:after{
    content: "?";
    left: 0;
}
.post-prev-link a.overline-right:hover:after,
.post-nav-container .post-prev-link a.overline-right:hover:after{
    left: -30px;
    opacity: 1;
}
.post-next-link a.overline-left:after{
    content: "?";
    right: 0;
}
.post-next-link a.overline-left:hover:after{
    opacity: 1;
    right: -30px;
}
/***********************
    header and navigation css end
********************************/

/****************
    Home Banner css strat
***********************/
.home-banner{
    padding: 0;
}
.slide-item {
    text-align: center;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img{
    width: 100%;
}
.carousel-control.right, 
.carousel-control.left {
    background-color: rgba(0,0,0,0.85);
    background-image: none;
    bottom: 44%;
    height: 90px;
    top: 44%;
    width: 90px;
    z-index: 10;
}
.carousel-control:focus,
.carousel-control:hover{
    background-color: #ffffff;
}
.carousel-control.left span{
    left: 0;
    right: 0;
}
.carousel-control span {
    color: #ACACAC;
    display: inline-block;
    font-size: 44px;
    left: 0px;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 22px;
    z-index: 5;
}
.banner-text {
    bottom: 0;
    left: 10%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30%;
}
.slide-item .blur-bg{
    background-color: rgba(0,0,0,0.40);
}
.banner-text .main-title h2{
    color: #fff;
}
.banner-text h1 span{
    background-color: #ffffff;
    padding: 20px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    color: #82b440;
}
.banner-text p{
    font-size: 20px;
    color: #f7f7f7;
    font-weight: bold;
    margin-top: 25px;
}
/**********Home Banner end*********/

/********************************
    Section css strat
    Welcome Section CSS
*****************************/
.welcome-section{

}
.welcome-box{
    margin-top: 40px;
    padding: 0;
}
.welcome-content{
    padding-top: 10%;
}
.welcome-content h3{
    text-transform: uppercase;
    font-weight: bold;
}
.welcome-content p{
    text-align: justify;
}
.welcome-img {
    padding: 0 25px;
    text-align: center;
}
/**********Welcome Section end*********/

/*****************************
    Background section strat
*****************************/
.background-section{
    background-image: url(../images/backgound-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    padding: 130px 0;
    background-attachment: fixed;
}
.background-section .full-title.main-title h2{
    color: #f7f7f7;
}
.background-section .full-title.main-title h2 span{
    border: none;
}
.background-section .full-title.main-title h2 span:before{
    content: "";
    border: none;
}
.background-section .full-title.main-title  p{
    color: #f7f7f7;
    margin: 30px 0 20px 0
}
/*********background section 1 end**********/

/***************************
    feature section strat
********************************/
.feature-column{
    padding: 0;
    margin-top: 20px;
}
.feature-body{
    text-align: right;
}
.left-feature,
.right-feature{
    padding: 0;  
}
.feature-box{
    margin:  20px 0; 


}
.feature-box:hover .circle-badge{
    background-color: #212121;
}
.feature-box:hover .circle-badge > i{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.feature-body .media-heading{
    text-transform: capitalize;
}
.feature-icon{
    padding: 0;
}
.feature-icon > .circle-badge {
    background-color: #82b440;
    border-radius: 50%;
    color: #ffffff;
    font-size: 32px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 70px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}
.right-feature .feature-body{
    text-align: left;
}
/***********feature section css end*********/

/*****************
    work sectio css start
***************************/
.work-section{
    background-color: #F2F2F2;
}
.work-column{
    margin-top: 40px;
}
.work-box{
    margin: 15px 0;

}
.work-box .team-img{
    overflow: hidden;
    position: relative;
}
.work-box:hover .over-backface::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}
.work-box .over-backface::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(130, 180, 64, 0.4);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}
.work-box:hover .team-info{
    background-color: #ffffff;
}
.work-box .team-img > img{
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}
.team-info {
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    width: 100%;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}
.team-info h3{
    text-transform: capitalize;
}
.team-info  p > span{
    color: #82b440;
    font-weight: bold;
    text-transform: uppercase;
}
.team-info ul {
    display: inline-block;
    margin: 10px 0;
    padding: 0;
}
.team-info > ul li{
    list-style: none;
    float: left;
    margin: 0 3px;
}
.team-info > ul li a{
    background-color: #82b440;
    color: #ffffff;
    display: table-cell;
    font-size: 20px;
    height: 35px;
    margin: 0;
    vertical-align: middle;
    width: 35px;
}
.team-info > ul li a:hover{
    background-color: #212121;
}
/******************end*********/
/*********************
    what they say section strat
****************************/
.background-say{
    background-image: url(../images/testimonials.jpg);
    padding: 80px 0;
}
.background-section .main-title h2{
    color: #ffffff;
}
.background-section .main-title p,
.testimonial-item p{
    color: #ffffff;
}
.testimonial-box{
    margin-top: 40px;
    padding: 0;
}
.testimonial-item p span {
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}
.testimonial-item {
    text-align: center;
    padding: 0 50px;
}
.testimonial-item a {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    text-transform: capitalize;
}
.testimonial-person {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid  #82b440;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    height: 110px;
    margin: 0px 0 10px;
    overflow: hidden;
    width: 105px;
}
#testimonial-demo .owl-controls .owl-page,
#testimonial-demo .owl-controls .owl-buttons div {
    border: 2px solid #a7a6a5;
    border-radius: 50%;
    bottom: 40%;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    line-height: 47px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 50px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}
#testimonial-demo .owl-controls .owl-buttons div:hover{
    border-color: #82b440;
    color: #82b440;
    margin-left: 5px;
    margin-right: 5px;
}
#testimonial-demo .owl-controls .owl-buttons .owl-prev{
    left: 0;
}
#testimonial-demo .owl-controls .owl-buttons .owl-next{
    right: 0;
}
/**********testimonials end************/
/***********************
    portfolio column
**********************************/
.portfolio-column{
    margin-top: 50px;
    padding: 0;
}
.portfolio-box{
    width: 100%;
    float: left;
    position: relative;
}
.portfolio-box > img{
    display: block;
}
.portfolio-box .hover-content {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 21;
    overflow: hidden;
    text-align: center;
}
.portfolio-box  .hover-content .portfolio-title {
    line-height: 30px;
    overflow: hidden;
    opacity: 0;
    transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    -moz-transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    -ms-transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    -webkit-transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    position: absolute;
    top: -10%;
    width: 100%;
    font-size: 16px;
}
.portfolio-box  .hover-content .portfolio-title span {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3d3d3d;
    transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
}
.portfolio-box:hover .hover-content .border-title {
    opacity: 1;
    top: 50%;
    margin-top: 0;
}
.portfolio-box .hover-content .border-title {
    opacity: 0;
    transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    -moz-transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    -ms-transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    -webkit-transition: all .5s cubic-bezier(.175,.885,.32,1)0s;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 0;
}
.portfolio-box .border-title span {
    height: 2px;
    border-radius: 2px;
    width: 0;
    background: rgba(0,0,0,.5);
    display: inline-block;
    position: relative;
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.portfolio-box:hover .border-title span {
    width: 60px;
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
}
.portfolio-box:hover .hover-content .portfolio-title {
    top: 50%;
    margin-top: -15px;
    opacity: 1;
}
.portfolio-box .info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #fff;
    border: 0 solid transparent;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
}
.portfolio-box:hover .info-overlay {
    opacity: .9;
    border: 10px solid rgba(0,0,0,.2);
}
.padding-5{
    padding: 0 6px;
    margin: 5px 0;
}
/*************portfolio css end*********/

/*******************************
    Background How Create Section Strat
***************************************/
.background-create{
    background-image: url(../images/background-3.jpg);
    padding: 80px 0;
}
.background-create .blur-bg{
    background-color: rgba(0, 0, 0, 0.80);
}
.create-column{
    margin-top: 45px;
    padding: 0;
}
.create-box{
    text-align: center;
    margin: 40px 0;
}
.create-box .create-icon i{
    font-size: 48px;
    color: #82b440;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}
.create-box .create-icon-title{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}
.create-box .create-icon{
    position: relative;
    padding: 15px 0;

}
.create-box:hover .create-icon i{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    color: #ffffff;
}
.create-box:hover .create-icon-title{
    color: #82b440;
}
.create-box .create-icon::before,
.create-box .create-icon::after{
    bottom: 0;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
}
.create-box .create-icon::before{
    border-top: 1px solid #7d7d7d;
    width: 80px;
}
.create-box .create-icon::after{
    border-bottom: 1px solid #7d7d7d;
    width: 100%;
}
/*********create css end*******/
/*************************
    get section css strat
*******************************/
.get-column{
    padding: 0;
    margin-top: 40px;
}
.get-content p{
    text-align: justify;
    color: #212121;
    line-height: 26px;
}
/********get section css end******/
/**************************
    Blog Section css strat
*********************************/
.background-blog .main-title h2{
	color: #fff;
}
.no-padding{
    padding: 0;
}
.background-blog{
    background-image: url(../images/background-4.jpg);
    padding: 80px 0;
     background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}
.our-blog .post-header,
.our-blog .post-detail{
    min-height: 320px;
}
.our-blog .post-header > .image-wrapper{
    height: 320px;
}
.our-blog{
    margin-top: 40px;
    padding: 0;
}
.post-header{
    overflow:hidden;
}
.post-header .image-wrapper{
    position:relative;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    float: left;
}
.post-header .image-wrapper img{
    transition:all 0.2s ease-in-out 0s;
    -webkit-transition:all 0.2s ease-in-out 0s;
}
.post-detail{
    background-color: #F2F2F2;
    padding: 50px 10px;
    text-align: center;
    float: left;
    width: 100%;
}
.post-detail p{
    color: #212121;
    text-align: justify;
    line-height: 26px;
    font-size: 14px;
}
.ourblog-box .image-wrapper:hover img{
    transform: scale(1.15, 1.15);
}

.ourblog-box .image-wrapper:hover .blur-img{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background-color:rgba(0,0,0,0.70);
    z-index:1;
    transition:all 0.2s ease-in-out 0s;
    -webkit-transition:all 0.2s ease-in-out 0s;
    pointer-events:none;
    transform: scale(1.15, 1.15);
}
.post-date-blog{
    background:none repeat scroll 0 0 #21242a;
    left:-10px;
    opacity:0.8;
    padding:0 20px;
    position:absolute;
    top:10px;
    z-index:2;
}
.post-date-blog span{
    color:#fff;
    display:inline-block;
    font-size:14px;
    font-style:italic;
    line-height:40px;
    position:relative;
    text-align:center;
    word-spacing:2px;
}
.post-title{
    color:#212121;
    display:inline-block;
    font-size:16px;
    margin:0 0 0px 0;
    text-transform:uppercase;
    font-weight: bold;
}
.post-meta{
    margin: 2px 0 15px 0;
}
.post-meta ul{
    padding-left:0;
    margin-bottom:0;
}
.post-meta ul li{
    list-style:none;
    display:inline;
    font-size:14px;
    text-transform:capitalize;
}
.post-meta ul li span{
    margin-right:3px;
}
.post-meta ul li:after{
    content:"|";padding:0 2px;
}
.post-meta ul li:last-child:after{
    content:"";
}
.post-detail .default-btn:hover{
    border-color: #212121;
}
/**************blog section css end***********/
/*************************section end*************/

/*********comment replay css********/
.article-title h3{
    font-size: 18px;
    margin-top: 0;
    padding: 10px 0 9px;
    position: relative;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.article-title h3:before,
.article-title h3:after{
    border-top: 1px solid #82b440;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}
.article-title h3::before {
    border-bottom: 1px solid #82b440;
    border-top: medium none;
    bottom: 0;
    width: 40%;
}
.comments-article .home-title h2 span {
    border-top: 0 none;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-left: 128px;
    padding-right: 128px;
}
.comments-article > ol {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
    width: 100%;
}
.comment-body {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
}
.comment-author {
    display: inline-block;
    margin-bottom: 0px;
    position: relative;
}
.comment-author, .comment-content {
    padding-left: 50px;
}
.comment-author .says {
    display: none;
}
.comment-author .avatar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 34px;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 5px;
    width: 34px;
}
.comment-list {
    list-style: outside none none;
    padding: 0;
}
.comment-list .children {
    list-style: outside none none;
    margin-bottom: 10px;
    padding-left: 20px;
}
.comment-meta p{font-size: 14px;}
.comment-metadata {
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 50px;
    width: 100%;
}
.comment-body .reply {
    position: absolute;
    right: 10px;
    top: 10px;
}
.comment-author .fn {
    font-weight: normal;
}
.comment-metadata .reply a {
    display: inline-block;
    float: right;
    text-align: right;
}
.comment-content {
    border-radius: 0;
    display: inline-block;
    font-size: 13px;
    margin-left: 50px;
    padding: 10px;
    white-space: normal;
    width: 92%;
}
.comment-form p {
    display: inline-block;
    margin: 14px 0;
    width: 100%;
}
.comment-form label {
    display: none;
}
.comments-box {
    padding: 0;
}
.article-title h2, .comment-reply-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.comment-form .comment-form-author input, .comment-form .comment-form-email input, .comment-form-url input, t, .comment-form-name input {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #b0b0b0;
    font-size: 13px;
    padding: 10px;
    width: 100%;
}
.comment-form-email {
    padding-left: 15px;
    padding-right: 15px;
}
.comment-form .comment-form-comment > textarea {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #b0b0b0;
    font-size: 13px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}
#comments ol {
    list-style: outside none none;

    display: inline-block;
    width: 100%;
}
.comments-box{
    margin-top: 25px;
    margin-bottom: 10px;
}
.comment-form-comment {
    clear: both;
}
.wpcf7-form p {
    display: inline-block;
    margin: 0 0 15px;
    width: 100%;
}
.wpcf7-form-control-wrap input {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    font-size: 13px;
    padding: 10px;
    width: 100%;
}
.wpcf7-form-control-wrap textarea {
    background: #ffffff none repeat scroll 0 0;
    border: medium none #c6c6c6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    font-size: 13px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}
.reply-box {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.reply-box .home-title h2 span, .get-in-touch .home-title h2 span {
    border-top: 0 none;
    font-size: 16px;
    padding-left: 128px;
    padding-right: 128px;
}
.comment-meta p.comment-awaiting-moderation {
    padding-left: 50px;
}
p.comment-form-email,
p.comment-form-name,
p.comment-form-url{
    float: left;
    width: 33.33%;
     padding: 0 5px;
}
.post-pagination .default-btn{
    padding: 6px 20px 6px;
}
.comment-form .default-btn:hover{
    border-color: #212121;
}
.next-post {
    text-align: right;
}
.prev-post {
    text-align: left;
}
.post-pagination{
    margin: 10px 0 40px;

}
/*********end comments *****/


/***********************
    footer css strat
*****************************/
.main-footer{
    background-image: url(../images/footer-texture.png);
    background-repeat: repeat;
    color:  #7d7d7d;
    padding: 0;
    margin-top: 40px;
}
.footer-top{
    padding: 0;
    padding: 45px 0;
}
.widget-title {
    color: #f7f7f7;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main-footer .textwidget{
    line-height: 26px;
}
.contact-widget > p > span{
    text-transform: capitalize
}
.tagcloud > a{
    border: 2px solid #7d7d7d;
    border-radius: 10px;
    padding: 5px 15px;
    float: left;
    color:  #7d7d7d;
    margin: 2px;
    font-size: 14px !important;
}
.tagcloud > a:hover,
.popular-posts .posts p a:hover{
    color: #82b440;
    border-color: #82b440;
}
/*******blog post footer***/
.popular-posts .posts p a{
    font-weight: bold;
}
.popular-posts .posts{
    padding: 0;
}
.popular-posts .posts li{
    list-style: none;
    border-bottom: 1px solid #7d7d7d;
}
.popular-posts .posts p a {
    display: table;
    margin: 5px 0;
}
footer .popular-posts .posts p a{
    color: #7D7D7D;
}
/********social icon footer****/
.social-icon ul{
    padding: 0;
}
.social-icon ul li{
    float: left;
    margin: 3px;
    list-style: none;
}
.social-icon ul li a{
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    border: 2px solid transparent;
}
.social-icon ul li a:hover{
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.social-icon ul li a.facebook{
    background-color: #3a589b;
}
.social-icon ul li a.twitter{
    background-color: #598dca;
}
.social-icon ul li a.youtube{
    background-color: #cf3427;
}
.social-icon ul li a.rss{
    background-color: #e19126;
}

.footer-bottom{
    background-color: #212121;
    padding: 30px 0;
    text-align: center;
    border-top: 2px solid #82b440;
}
.footer-bottom p{
    margin: 0;
    color: #7d7d7d;
}
.footer-bottom p > a{
    color: #7d7d7d;
}
.footer-bottom p > a:hover{
    color: #82b440;
}
/****************footer css end************/

/****************
    Page Breadcrumbs AND Title
************************/
.inner-header{
    box-shadow: 0 -1px 3px #212121;
    -webkit-box-shadow: 0 -1px 3px #212121;
}
.inner-pages .section-row{
    padding: 50px 0;
}
.page-title {
    background-color: #f2f2f2;
    border-bottom: 1px solid #82b440;
    color: #212121;
    padding: 30px 0 25px;
}
.page-title h4 {
    font-weight: bold;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
}
.page-title .breadcrumbs {
    list-style: outside none none;
    text-align: right;
}
.breadcrumbs ul {
    margin: 0px 0 0;
    padding-left: 0;
}
.breadcrumbs ul li {
    display: inline;
}
.breadcrumbs ul li::after {
    content: "/";
    padding: 0 0 0 4px;
}
.breadcrumbs ul li:last-child::after {
    content: "";
}
/********end*********/
/*****************************home page css end*************/

/*******************************
    About Us Page Css
**********************************/
.inner-pages .work-section{
    background-color: #ffffff;
}
.inner-pages .work-section .work-box:hover .team-info{
    background-color: #f8f8f8;
}
/***end about us*****/

/*************portfoloio page****************/
.inner-pages .portfolio-column{
    margin-top: 0;
}
.inner-pages .portfolio-column .portfolio-box{
    margin: 15px 0;
}
/*********end portfolio**********/

/**********Contact us page css********/
.inner-pages .padding-top-0{
    padding-top: 0;
}
.contact-map iframe{
    width: 100%;
    height: 425px;
}
.contact-form,
.contact-info{
    margin-top: 60px; 
}
.contact-form .theme-btn-group{
    text-align: left;
}
.contact-info > h4 {
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}
.contact-info p{
    margin-bottom: 5px;
    font-size: 14px;
}
.contact-info .contct-widget > div{
    margin: 20px 0;
}
.contact-info .contct-widget > div > h5{
    text-transform: uppercase;
}
.contact-form .default-btn:hover{
    border-color: #212121;
}
/******contact page end*******/

/***********blog page css ********/
.inner-pages .post-detail,
.inner-pages .ourblog-box .theme-btn-group{
    text-align: left;
}
.inner-pages .ourblog-box{
    float: left;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
}
.inner-pages .ourblog-box .theme-btn-group{
    padding: 0;
}
.inner-pages .ourblog-box:first-child{
    margin-top: 0;
}
.inner-pages .ourblog-box{
    margin: 15px 0 15px 0;
}
.inner-pages .ourblog-box .post-detail{
    background-color: transparent;
    padding: 25px 10px 25px 0px;
}
/***********blog page css end**********/

/********site pagination css**********/
.site-pagination{
    padding: 0;
    text-align: center;
}
.nav-links  {
    padding: 0;
    text-align: center;
}
.nav-links {
    list-style: none;
    float: left;
    margin: 0 3px;
    text-transform: capitalize;
    font-weight: bold;
}
.nav-links a{
 /*   border: 1px solid #82b440; */
    border-radius: 10px;
    padding: 7px 15px;
}
.page-numbers.current {
    background-color: #82b440;
    border: 1px solid #82b440;
    border-radius: 10px;
    padding: 7px 15px;
}

/******pagination end**********/

/*****************sidebar css***********/
.sidebar{
    background-color: #f2f2f2;
    padding: 30px 25px;
    display: inline-block;
    width: 100%;
}
.sidebar-widget:first-child{
    margin-top: 0;
}
.sidebar-widget .search-form label{
    width: 100%;
}
.sidebar-widget .search-form .search-field {
    background-color: transparent;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    font-weight: normal;
    margin: 0px 0;
    outline: medium none;
    padding: 10px 5px;
    transition:transition all 0.5s ease-in-out 0s;
    -webkit-transition:transition all 0.5s ease-in-out 0s;
    width: 100%;
}
.search-form {
    position: relative;
}
.search-form .search-submit {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 21px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-indent: -500px;
    top: 12px;
    width: 19px;
}
.sidebar-widget{
    margin-top: 20px;
    float: left;
    width: 100%;
}
.sidebar-widget h4{
    margin-top: 0;
    font-size: 16px;
    text-align: center;
    color: #212121;
    border-bottom: 1px solid #82b440;
    padding: 5px 0 4px 0;
    position: relative;
}
.sidebar-widget h4:before{
    content: "";
    position: absolute;
    border-top: 1px solid #82b440;
    width: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}
.sidebar-widget .posts li{
    border-color: #d7d7d7;
    display: inline-block;
    width: 100%;
}
.sidebar-widget .thumb {
    display: block;
    float: left;
    line-height: 0;
    overflow: hidden;
}
.sidebar-widget .thumb img{
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
}
.sidebar-widget .thumb:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.sidebar-widget .posts .thumb {
    margin-bottom: 8px;
    margin-right: 8px;
}
.sidebar-widget .posts p{
    font-size: 14px;
    line-height: normal;
}
.sidebar-widget .posts p > a{
    font-size: 14px;
    margin: 0 0 15px 0;
    line-height: normal;
}

.sidebar-widget .popular-posts ul li:before{
    content: "";
    display: none;
}
.sidebar-widget ul{
    padding: 0;
}
.sidebar-widget ul li{
    list-style: none;
    border-bottom: 1px solid #D0D0D0;
    padding: 10px 0;
}
.sidebar-widget ul li:last-child{
    border-bottom: none;
}
.sidebar-widget ul ul {
    padding-left: 20px;
}
.sidebar-widget ul li a{

}
.sidebar-widget ul li:before{
    content: "\F0DA";
    font-family: FontAwesome;
    padding: 0 10px 0 0;
    color: #7D7D7D;
}
/***************Owl Carsoul css*************/
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
/**************End***********/


