/*
Theme Name: BizzBee
Text Domain: bizzbee
Theme URI: http://fruitthemes.com/wordpress-themes/bizzbee
Author: FruitThemes
Author URI: http://fruitthemes.com/
Description: BizzBee is a lightweight, clean, super flexible and bootstrap based responsive theme for business or corprate, personal websites. BizzBee Theme is built on top of Twitter Bootstrap which means that your site can be displayed on every device (pc, laptop, mobile devices, tablets etc) without horizontal scrolling. It has got custom widgets, theme-options etc in order to get it customized as per your need.
Version: 1.0.4
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: left-sidebar, fluid-layout, responsive-layout, custom-menu, editor-style, featured-images, full-width-template, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
*/
/**************************General CSS Start *********************/

/**
 gallery and custom post data css
* -----------------------------------------------------------------------------
*/
.gallery {
	margin-bottom: 20px;
}
.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}
.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}
.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}
.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
/*	margin: 0; */
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}
.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.gallery-item:hover .gallery-caption {
	opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
/**/
dt, dd {
    margin-bottom: 15px;
}
td, th {
    border: 1px solid #ccc;
    padding: 5px 0 5px 0px;
}
.sticky .entry-date {
	display: none;
}
img {
    height: auto;
}
table{
	width:100%;
	text-align: center;
}
.alignleft {
    display: inline;
    float: left;
}
blockquote.alignleft, 
.wp-caption.alignleft, img.alignleft {
    margin: 0.421em 1.684em 1.6842em 0;
}
blockquote.alignright, .wp-caption.alignright, img.alignright {
    margin: 0.4211em 0 1.6842em 1.6842em;
}
.alignright {
    display: inline;
    float: right;
}
.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter {
    margin-bottom: 1.2632em;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background-color: #82b440;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 10px 10px 2px;
    text-align: center;
    color: #000;
}
.wp-caption a{
	color:#fff;
}
.wp-caption, .gallery {
    margin-bottom: 1.6842em;
}
iframe,
embed {
    max-width: 100%;
}
#today{
	color: #82b440;
}
/**custome data css end***/

/* main-sidebar */
.main-sidebar .contact ul li:before {
    content: "";
}
.main-sidebar .contact ul li {
    padding: 7px 0;
}
.main-sidebar select {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}
.main-sidebar table{
    width: 100%;
}
.main-sidebar .wp-caption-text {
    background-color: #82b440;
    padding: 6px;
}
.footer-widget .search-form{
	width: 100%;
}
.footer-widget .search-form .search-field,
.footer-widget .search-form label{
	width: 100%;
}
.footer-widget .search-form .search-submit{
	top: 5px;
}
/* end main-sidebar */
/* main-footer */
.main-footer .rsswidget{
	color:#fff;
}
.main-footer ul li a {
    color: #7d7d7d;
}
.main-footer ul li a:hover{
	color: #82b440;
}
.main-footer ul li ul li {
    padding-left: 11px;
}
.main-footer ul.sub-menu li, ul.sub-menu .overline{
	width: 100%
}
.main-footer .widget-title {
    clear: both;
    margin: 20px 0;
}
.main-footer ul {
    list-style: none outside none;
    padding: 0;
}
.main-footer ul li {
    padding: 5px 0;
}
.main-footer .contact ul li:before {
    content: "";
}
.main-footer .contact ul li {
    padding: 7px 0;
}
.main-footer select {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}
.main-footer table{
    width: 100%;
}
.main-footer .wp-caption-text {
    background-color: #82b440;
    padding: 6px;
}
/**end***/
.header-logo h3 {
margin-top: 0;
font-size: 28px;
}
.header-logo  h5 {
    font-size: 14px;
    margin: 0;
}
.screen-reader-text {
    display: none;
}
/***  footer  ***/
.main-footer .widget_recent_entries > ul {
    list-style: none outside none;
    padding: 0;
}
.main-footer .widget_recent_entries > ul > li {
	border-bottom: 1px solid #7d7d7d;
    margin-bottom: 10px;
    padding-bottom: 10px;
}    
.main-footer .widget_recent_entries > ul > li > a {
    color: #7d7d7d;
    font-weight: bold;
    margin: 5px 0 !important;
}
.main-footer .post-date {
    display: list-item;
}
/***  footer  ***/
.page-numbers {
	border: 1px solid #82b440;
    border-radius: 10px;
    padding: 7px 15px;
}

/*** Single page  ***/
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
.nav-previous {
    float: left;
    width: 50%;
    text-align: left;
}
.nav-links{
    width: 100%;
}
.comment-author-admin ol {
    list-style: none outside none;
}
.comment-form-author {
    padding: 0 5px;
    width: 33.33% !important;
}
#commentform .submit:hover {
    border-color: #212121;
	color: #000;	
}
#commentform .submit{
	background-color: transparent;
    border: 2px solid #82b440;
    border-radius: 10px;
    color: #82b440;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 35px 9px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.reply-box .comment-respond h3 {
    text-align: center;
}
.search-formmain .search-form{
	float: left;
}
.search-formmain .search-form .search-field{
background-color: transparent;
    border: 1px solid #d7d7d7;
    border-radius: 0;
    font-weight: normal;
    margin: 0;
    outline: medium none;
    padding: 10px 40px 10px 5px;
    width: 100%;
}
.search-formmain .search-form .search-submit{
	left: auto;
}


/******************************
    ALL @MEDIA SCREEN ENTER BELOW
***************************************/
/**@Media max-width 1370px**/
@media (max-width: 1370px){
    .banner-text{
        right: 100px;
    }
    .banner-text h1 span{
        font-size: 21px;
        display: inline-block;
        width: 100%;
    }
    .banner-text p{
        font-size: 18px;
    }
}
/**@media (max-width: 1370px) and (min-width: 1300px)**/
@media (min-width: 1300px) and (max-width: 1370px){
    .banner-text h1 span{
        width: 80%;
    }
}
/**@Media max-width 1024px start**/
@media (max-width: 1024px){
    .banner-text h1 span{
        font-size: 18px;
    }
    .banner-text{
        top: 30%;
    }
    /******font size******/
    .main-title h2{
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .sidebar{
        padding: 30px 10px;   
    }
}
/*@Media max-width 992px strat*/
@media (max-width: 992px){
    .col-md-3.col-sm-6.col-xs-12:nth-child(2n+3) {
        clear: both;
    }
    .contact-form, .contact-info {
        display: inline-block;
        margin-top: 60px;
        width: 100%;
    }
    .get-content,
    .team-img{
        text-align: center;
    }
    .feature-body ,
    .right-feature .feature-body{
        text-align: center;
    }
    .feature-icon{
        margin: 15px 0;
    }
    .feature-box {
        padding: 20px;
    }
    .left-feature, .right-feature{
        padding: 0 15px;
    }
    .welcome-content{
        padding-top: 0;
    }
    .footer-top aside{
        margin: 15px 0; 
    }
}
@media (max-width: 800px){
    .theme-container{padding:  0 15px;}
    .banner-text {
        top: 15%;
    }
    .banner-text {
        right: 18%;
    }
}
/**@Media max width 767px Start**/
@media only screen and (max-width:767px)
{
    .section-row p{
        font-size: 14px;
    }    
    .next-post,
    .prev-post{
        width: 50%;
        float: left;
    }
    .next-post,
    .prev-post{
        float: right;
    }
    p.comment-form-email,
    p.comment-form-name,
    p.comment-form-url{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .page-title, 
    .page-title .breadcrumbs {
        text-align: center;
    }
    header{
        height: auto;
    }
    .header-logo{
        text-align: center;
    }
    .header-menu{
        float: left;
        width: 100%;
    }
    #main-menu
    {
        display: inline-block;
        float: none;
        padding: 10px 0;
        position: relative;
        width: 100%;
    }

    #main-menu a
    {
        display: block;
    }
    #main-menu > ul > li
    {
        padding: 10px 0;
        width: 100%;
    }
    #main-menu > ul > li.current_page_item:before, #main-menu ul li ul li
    {
        border-bottom: none;
    }
    #main-menu ul li ul, 
    #main-menu ul li ul li ul
    {
        box-shadow: none;
        left: 0px !important;
        top: 44px;
        width: 100%;
        visibility: visible;
        opacity: 1;
    }
    #main-menu ul li ul
    {
        padding: 0;
    }
    #main-menu ul li ul li ul
    {
        border: none;
    }
    #header-wrapper
    {
        position: inherit !important;
    }

    #main-menu > ul > li > a.header-cart span
    {
        right: inherit;
        top: inherit;
    }
    .dt-menu-toggle
    {
        display: block;
        background-color: #82b440;
    }
    #main-menu ul li ul
    {
        border: none;
    }
    #main-menu ul li ul li
    {
        clear: both;
        padding: 0px;
    }
    #main-menu ul li ul li a
    {
        margin: 0 15px 0 25px;
    }
    #main-menu ul li ul li ul li a
    {
        padding-left: 30px;
    }
    #main-menu ul li ul ul ul li a
    {
        padding-left: 45px;
    }
    #main-menu ul li ul li ul
    {
        padding: 0px;
    }
    #main-menu ulul.menu-toggle-open > li > ul.sub-menu
    {
        background: none;
        box-shadow: none;
    }
    #main-menu ul li ul li ul
    {
        border: none;
    }
    #main-menu ul li ul, #main-menu ul li ul, #main-menu ul li ul li ul
    {
        left: 0 !important;
        margin: 0px;
        position: inherit;
        top: 0px;
    }

    #main-menu ul
    {
        display: none;
        border: 1px solid #82b440;
    }
    #main-menu > ul > li::after{
        display: none;
    }
    #main-menu ul > li > ul.sub-menu{
        box-shadow: none;
        background-color: transparent;
        display: block;
    }
    .overline li a:hover::before, 
    .overline li a:focus::before, 
    .overline li.current-menu-item a::before, 
    .overline:hover::before, .overline:focus::before, 
    .current-menu-item .overline::before, 
    .dt-sc-services .dt-sc-icon.type1:hover 
    .overline::before,
    #main-menu ul > li:hover > a.overline::before{
        display: none;
    }
    /*****other css****/
    .main-title{
        padding: 0;
    }
    .banner-text{
        display: none;
    }
    .feature-box{
        border: 2px solid #82b440;
    }

}

@media (max-width: 568px){
    .carousel-control.right, .carousel-control.left {
        bottom: 44%;
        height: 50px;
        top: 30%;
        width: 50px;
    }
    .carousel-control span{
        top: 3px;
    }
    .section-row p{
        text-align: justify;
    }
    /*font size*/
    .main-title h2 {
        font-size: 20px;
    }
    .post-title{
        font-size: 14px;
    }
    /**********end***/
    .testimonial-item{
        padding: 0 15px;
    }

    #testimonial-demo .owl-controls .owl-page, #testimonial-demo .owl-controls .owl-buttons div{
        top: 10%;
    }
    .our-blog .post-header, .our-blog .post-detail{
        min-height: 100%;
    }
    .our-blog .post-header > .image-wrapper{
        height: auto;
    }
    .section-row {
        padding: 50px 0;
    }
}
