/*
Theme Name: Counsel
Theme URI: http://www.mudthemes.com/counsel
Description: Counsel is a beautiful multipurpose responsive theme that can used for corporate, professional or magazine blogging sites. Counsel has single top menu with 3 footer sidebars. The Theme option panel can be used to modify various aspect of this theme easily. Counsel is built for corporate professionals but anyone who wants simple and sleek design will like this theme too. Counsel is Translation ready and comes with 100% GPL license and online documentation.
Version: 1.0.7.3
Author: mudThemes
Author URI: http://www.mudthemes.com
Tags: white, blue, light, responsive-layout, fluid-layout, one-column, custom-menu, custom-background, editor-style, featured-images, full-width-template, threaded-comments, theme-options, translation-ready
License: GNU General Public License, v2 (or newer)
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: counsel

======================================================
Counsel WordPress Theme, Copyright 2014 mudthemes.com
Counsel is distributed under the terms of the GNU GPL
======================================================

* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or (at your option) any later version.
* 
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

===========================================================
* Note: see the "readme.txt" page for copyright and license 
* information for bundled resources, including images.
===========================================================
*/

/* Stylesheet */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.grid-col-1 {
  width: 6.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-2 {
  width: 12.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-3 {
  width: 18.75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-4 {
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-5 {
  width: 31.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-6 {
  width: 37.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-7 {
  width: 43.75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-8 {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-9 {
  width: 56.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-10 {
  width: 62.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-11 {
  width: 68.75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-12 {
  width: 75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-13 {
  width: 81.25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-14 {
  width: 87.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-15 {
  width: 93.75%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-16 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col-33 {
  width: 33.3333%;
}
.grid-float-left {
  float: left;
}
.grid-float-right {
  float: right;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: 300;
}
body {
  line-height: 1;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
td,
th,
caption {
  font-weight: normal;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
}
q:before,
q:after {
  content: '';
}
a img {
  border: none;
}
ol ol {
  list-style-type: upper-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ol ol ol ol {
  list-style-type: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}
dl,
dt,
dd {
  margin: 0;
}
strong {
  font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
  border: none;
}
a {
  outline: none;
}
.headfont,
.flex-caption,
.post-template .post-title h1,
.post-template .post-meta,
.post-template .post-content h1,
.post-template .post-content h2,
.post-template .post-content h3,
.post-template .post-content h4,
.post-template .post-content h5,
.post-template .post-content h6,
.loop-post-title a,
.loop-post-meta,
.telephone-text,
.footerbox-section h4.widget-title,
.footer-section {
  font-family: "Roboto Condensed", sans-serif;
}
.bodyfont,
body,
.nav-section,
.site-title a {
  font-family: "Open Sans", sans-serif;
}
.iconfont,
.primarymenu-section .menu-item-has-children > a:after,
.primarymenu-section .page_item_has_children > a:after,
.primarymenu-section .sub-menu .menu-item-has-children > a:after,
.primarymenu-section .children .menu-item-has-children > a:after,
.primarymenu-section .sub-menu .page_item_has_children > a:after,
.primarymenu-section .children .page_item_has_children > a:after,
.primarymenu-resp span:after,
.post-template .post-meta .meta-date-url:before,
.post-template .tags-below-content a:after,
.post-template .post-content blockquote p:before,
.post-template .post-content blockquote p:after,
.comments-section .commentslist .comment-parent-author span:before,
.comment-block-container .comment-body-container .comment-body blockquote p:before,
.comment-block-container .comment-body-container .comment-body blockquote p:after,
.footerbox-section ul li:before,
#scrollUp {
  font-family: FontAwesome;
}
body {
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h1 {
  font-size: 28px;
  padding: 10px 0 40px 0;
}
h2 {
  font-size: 24px;
  padding: 10px 0 35px 0;
}
h3 {
  font-size: 22px;
  padding: 5px 0 35px 0;
}
h4 {
  font-size: 20px;
  padding: 5px 0 25px 0;
}
h5 {
  font-size: 18px;
  padding: 5px 0 25px 0;
}
h6 {
  font-size: 17px;
  font-weight: bold;
  padding: 5px 0 25px 0;
}
p {
  font-size: 17px;
  line-height: 1.8;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 40px;
}
ol {
  padding-left: 25px;
  list-style-type: decimal;
  margin: 0 0 25px 0;
}
ul {
  padding-left: 25px;
  list-style-type: disc;
  margin: 0 0 25px 0;
}
li {
  font-size: 15px;
  line-height: 1.5em;
}
dl {
  padding: 0 0 25px 0;
}
dt {
  font-weight: bold;
}
dd {
  padding: 10px 0 18px 40px;
  font-size: 14px;
  line-height: 1.5em;
}
address {
  font-size: 13px;
  padding: 0 0 25px 0;
  line-height: 1.3em;
  letter-spacing: 1px;
}
big {
  font-size: 140%;
}
ins {
  padding: 0 3px;
  text-decoration: underline;
}
del {
  padding: 0 3px;
  text-decoration: line-through;
}
q {
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
}
blockquote {
  font-style: italic;
  padding: 0 40px;
  letter-spacing: 1px;
}
blockquote p {
  font-size: 14px;
}
blockquote cite,
blockquote em,
blockquote i {
  font-style: normal;
}
blockquote cite {
  display: block;
  float: right;
  margin: 20px 0;
  letter-spacing: 1px;
}
pre {
  font-size: 15px;
  line-height: 21px;
  margin: 0 0 25px 0;
  padding: 1.5em;
  overflow: auto;
}
abbr,
acronym,
abbr[title],
acronym[title] {
  cursor: help;
}
sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  font-size: 10px;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
hr {
  border: 0;
  clear: both;
  height: 1px;
  margin-bottom: 25px;
}
var,
tt,
kbd,
code {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 13px;
  line-height: 21px;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 22px;
  margin-top: 9px;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 22px;
  margin-top: 8px;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 10px;
}
.wp-caption {
  border: none;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 15px;
  padding: 4px;
  padding-top: 6px;
  max-width: 96%;
}
.wp-caption img {
  border: 0 none;
  margin: 0px;
  height: auto;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 18px;
  margin: 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gallery-caption {
  margin: 0 0 5px;
}
.wp-smiley {
  margin: 0;
}
body {
  font-size: 16px;
  background-color: #E7E7E7;
}
.theme-wide .parent-wrapper {
  width: 100%;
  max-width: 1599px;
  margin: 0 auto;
}
.theme-boxed .parent-wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
}
.parent-wrapper {
  height: auto;
  overflow: visible;
  margin-top: 7px;
}
.wrapper {
  margin: 0 auto;
  clear: both;
}
.header-bg-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.primarymenu-section {
  width: 1149px;
  margin: 0 auto;
}
.cta-bg-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.header-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 110px;
  padding: 18px 20px 0;
}
.nav-section,
.main-section {
  clear: both;
}
.cta-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.mudpack-shortcodes,
.headline-section,
.main-section,
.footerbox-section,
.footer-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.footerbox-bg-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.footer-bg-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.loop-section {
  margin-bottom: 30px;
}
.content-section {
  padding-top: 15px;
}
.home .content-section,
.archive .content-section {
  width: 96%;
  margin: 0 auto;
}
.home .content-section {
  padding-top: 40px;
}
.archive .content-section {
  padding-top: 20px;
}
.archive-empty {
  padding: 0 30px;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flexslider {
  margin: 0 0 0;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(assets/global/images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}
.flex-direction-nav .flex-prev {
  left: -36px;
}
.flexslider:hover .flex-next {
  opacity: 1;
  right: 15px;
}
.flexslider:hover .flex-prev {
  opacity: 1;
  left: 15px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
.flexslider {
  border: 0 !important;
}
.flex-caption {
  position: absolute;
  width: 100%;
  top: 25%;
  left: 7%;
  text-align: left;
}
.flex-caption .featured-heading {
  width: 350px;
  min-width: 25%;
  padding: 10px 10px 15px;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.3;
}
.flex-caption .featured-content {
  width: 500px;
  padding: 10px 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.6;
}
.flex-caption .featured-button {
  width: 200px;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  box-sizing: border-box;
}
.flex-caption .featured-button a {
  padding: 15px 0;
  display: block;
  text-decoration: none;
}
.flexslider .slides > li {
  position: relative;
}
.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-section {
  position: relative;
}
.nav ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav ul ul {
  display: none;
}
.nav li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-position: inside;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav a {
  display: block;
  position: relative;
  text-decoration: none;
  text-align: left;
  background-image: none;
  background-repeat: repeat;
  overflow: visible;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.primarymenu-resp i {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 21px;
  padding: 3px 6px;
  margin-right: 5px;
  float: right;
  border-radius: 3px;
  cursor: pointer;
  z-index: 101;
}
.primarymenu-section a {
  padding: 15px 14px 16px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
}
.primarymenu-section li {
  line-height: 1;
}
.primarymenu-section {
  float: left;
}
.primarymenu-section .sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  width: 175px;
}
.primarymenu-section .sf-menu ul ul {
  position: absolute;
  display: none;
  top: -1px;
  left: 100%;
}
.primarymenu-section .menu-item-has-children > a:after,
.primarymenu-section .page_item_has_children > a:after {
  font-size: 9px;
  content: '\f0d7';
  padding-left: 5px;
}
.primarymenu-section ul {
  padding-left: 0;
}
.primarymenu-section .sub-menu .menu-item-has-children > a:after,
.primarymenu-section .children .menu-item-has-children > a:after,
.primarymenu-section .sub-menu .page_item_has_children > a:after,
.primarymenu-section .children .page_item_has_children > a:after {
  font-size: 9px;
  content: '\f0da';
  padding-left: 5px;
}
.primarymenu-section .sub-menu li,
.primarymenu-section .children li {
  width: 100%;
  min-width: 120px;
}
.primarymenu-resp {
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}
.primarymenu-resp span {
  font-size: 13px;
  color: #EEE;
  font-variant: small-caps;
  padding-left: 12px;
}
.primarymenu-resp span:after {
  font-size: 11px;
  content: '\f0d7';
  padding-left: 5px;
}
.header-bg-section {
  position: relative;
}
.header-section {
  overflow: visible;
}
.site-title {
  line-height: 1;
  display: inline-block;
}
.site-title a {
  font-size: 32px;
  line-height: 1;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.site-description {
  font-size: 11px;
  letter-spacing: 1px;
  padding: 3px 0 0 5px;
}
.logo-section {
  position: relative;
  z-index: 100;
}
.site-title,
.site-description {
  display: block;
  float: left;
  clear: left;
}
.mudpack-columns {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: auto;
  clear: both;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
}
.mudpack-columns .mudpack-columns-4 .mudpack-column-1,
.mudpack-columns .mudpack-columns-4 .mudpack-column-2,
.mudpack-columns .mudpack-columns-4 .mudpack-column-3,
.mudpack-columns .mudpack-columns-4 .mudpack-column-4 {
  width: 25%;
  max-width: 25%;
  padding: 40px 10px;
}
.mudpack-columns .mudpack-columns-3 .mudpack-column-1,
.mudpack-columns .mudpack-columns-3 .mudpack-column-2,
.mudpack-columns .mudpack-columns-3 .mudpack-column-3,
.mudpack-columns .mudpack-columns-3 .mudpack-column-4 {
  width: 33.33%;
  max-width: 33.33%;
  padding: 40px 20px;
}
.mudpack-columns .mudpack-columns-2 .mudpack-column-1,
.mudpack-columns .mudpack-columns-2 .mudpack-column-2,
.mudpack-columns .mudpack-columns-2 .mudpack-column-3,
.mudpack-columns .mudpack-columns-2 .mudpack-column-4 {
  width: 50%;
  max-width: 50%;
  padding: 40px 20px;
}
.mudpack-columns .mudpack-columns-1 .mudpack-column-1,
.mudpack-columns .mudpack-columns-1 .mudpack-column-2,
.mudpack-columns .mudpack-columns-1 .mudpack-column-3,
.mudpack-columns .mudpack-columns-1 .mudpack-column-4 {
  width: 100%;
  max-width: 100%;
}
.mudpack-columns .mudpack-columns-1,
.mudpack-columns .mudpack-columns-2,
.mudpack-columns .mudpack-columns-3,
.mudpack-columns .mudpack-columns-4 {
  overflow: auto;
  height: auto;
}
.mudpack-columns .mudpack-column-1,
.mudpack-columns .mudpack-column-2,
.mudpack-columns .mudpack-column-3,
.mudpack-columns .mudpack-column-4 {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.mudpack-cb-content {
  margin-top: 15px;
  font-size: 16px;
}
.mudpack-cb-icon-location-left {
  text-align: center;
}
.mudpack-cb-icon-location-left .mudpack-cb-icon,
.mudpack-cb-icon-location-left .mudpack-cb-title {
  display: inline-block;
}
.mudpack-cb-icon-location-left.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  font-size: 16px;
  margin-right: 15px;
  padding: 12px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.mudpack-cb-icon-location-left.mudpack-cb-icon-border-circular .mudpack-cb-title {
  font-size: 22px;
  letter-spacing: 1px;
}
.mudpack-cb-icon-location-left.mudpack-cb-icon-border-circular .mudpack-cb-content {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 20px;
}
.mudpack-cb-icon-location-left.mudpack-cb-icon-border-none .mudpack-cb-icon i {
  font-size: 22px;
  margin-right: 10px;
}
.mudpack-cb-icon-location-left.mudpack-cb-icon-border-none .mudpack-cb-title {
  font-size: 22px;
}
.mudpack-cb-icon-location-left.mudpack-cb-icon-border-none .mudpack-cb-content {
  font-size: 14px;
}
.mudpack-cb-icon-location-top {
  text-align: center;
}
.mudpack-cb-icon-location-top.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 16px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
.mudpack-cb-icon-location-top.mudpack-cb-icon-border-circular .mudpack-cb-title {
  font-size: 20px;
}
.mudpack-cb-icon-location-top.mudpack-cb-icon-border-circular .mudpack-cb-content {
  font-size: 14px;
}
.mudpack-cb-icon-location-top.mudpack-cb-icon-border-none .mudpack-cb-icon i {
  font-size: 35px;
  margin-bottom: 25px;
}
.mudpack-cb-icon-location-top.mudpack-cb-icon-border-none .mudpack-cb-title {
  font-size: 18px;
}
.mudpack-cb-icon-location-top.mudpack-cb-icon-border-none .mudpack-cb-content {
  font-size: 13px;
}
.mudpack-cb-icon-location-hide .mudpack-cb-title {
  font-size: 20px;
}
.mudpack-cb-icon-location-hide .mudpack-cb-content {
  font-size: 14px;
}
.mudpack-service .mudpack-service-single {
  width: 100%;
}
.mudpack-service .mudpack-service-headline {
  padding-bottom: 25px;
  font-size: 24px;
}
.mudpack-service .mudpack-service-image {
  position: relative;
}
.mudpack-service .mudpack-service-image a img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.mudpack-service .mudpack-service-image a img:hover {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.mudpack-service .mudpack-service-text {
  position: relative;
  text-align: center;
  font-size: 14px;
  padding: 25px 2px;
  line-height: 1.7;
}
.mudpack-service .mudpack-service-text a {
  text-decoration: none;
}
.mudpack-service .mudpack-service-text a i {
  display: none;
  position: absolute;
  top: 30%;
  left: 45%;
  font-size: 20px;
  padding: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.mudpack-service .mudpack-service-text :hover a i {
  display: block;
}
.headline-section {
  padding: 40px 0px 50px;
  text-align: center;
  -moz-box-sizing: border-box;
}
.headline-section .headline-section-heading {
  font-size: 40px;
  letter-spacing: 1px;
}
.headline-section .headline-section-content {
  font-size: 20px;
  line-height: 1.7;
  padding: 35px 0 0;
}
.main-section {
  padding-bottom: 30px;
}
.post-template .content-section {
  margin: 0 auto;
  padding: 50px 0 0;
}
.post-template .post-title {
  text-align: center;
}
.post-template .post-title h1 {
  font-size: 44px;
  padding-bottom: 15px;
  letter-spacing: 1px;
  line-height: 1.3;
}
.post-template .post-meta {
  font-size: .9em;
  text-align: right;
}
.post-template .post-meta .meta-date-url:before {
  content: "\f046";
  padding-right: 3px;
  font-size: .9em;
}
.post-template .tags-below-content {
  text-align: center;
}
.post-template .tags-below-content a {
  display: inline-block;
  padding: 3px 5px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.post-template .tags-below-content a:after {
  padding-left: 5px;
  content: "\f02b";
}
.post-template .post-nav .nav-previous {
  display: inline-block;
  float: right;
}
.post-template .post-nav .nav-next {
  display: inline-block;
  text-align: left;
}
.post-template .post-content {
  padding-top: 40px;
}
.post-template .post-content p {
  line-height: 1.6;
}
.post-template .post-content h1 {
  font-size: 36px;
}
.post-template .post-content h2 {
  font-size: 32px;
}
.post-template .post-content h3 {
  font-size: 28px;
}
.post-template .post-content h4 {
  font-size: 26px;
}
.post-template .post-content h5 {
  font-size: 25px;
}
.post-template .post-content h6 {
  font-size: 24px;
}
.post-template .post-content h1,
.post-template .post-content h2,
.post-template .post-content h3,
.post-template .post-content h4,
.post-template .post-content h5,
.post-template .post-content h6 {
  padding-top: 0;
}
.post-template .post-content blockquote p:before,
.post-template .post-content blockquote p:after {
  font-size: .7em;
  vertical-align: text-top;
}
.post-template .post-content blockquote p:before {
  padding-right: 5px;
  content: "\f10d";
}
.post-template .post-content blockquote p:after {
  padding-left: 3px;
  content: "\f10e";
}
.post-template .post-content table {
  font-size: .9em;
  margin-bottom: 40px;
}
.post-template .post-content table th,
.post-template .post-content table td {
  padding: 7px 10px;
}
.post-template .post-content table a {
  color: inherit;
  text-decoration: none;
}
.post-template .edit-link {
  clear: both;
}
.custom-page-template div.content-section {
  padding-top: 25px;
}
.custom-page-template .inner-content-section {
  margin: 0 auto;
  padding-bottom: 35px;
}
.comments-section {
  margin: 80px auto 0;
}
.comments-section .comments-title {
  text-align: left;
  font-size: 40px;
  margin: 0 0 50px;
}
.comments-section .commentslist ol,
.comments-section .commentslist ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  padding: 0;
  list-style-type: none;
}
.comments-section .commentslist .children {
  float: left;
  clear: both;
}
.comments-section .commentslist .comment-parent-author span {
  float: right;
  display: inline-block;
  font-size: 12px;
  padding: 0 4px;
}
.comments-section .commentslist .comment-parent-author span:before {
  content: '\f061';
  font-size: .9em;
  padding: 0 5px 0 2px;
}
.comments-section .comment-navigation {
  width: 100%;
  clear: both;
}
.comments-section .comment-navigation .nav-next,
.comments-section .comment-navigation .nav-previous {
  display: inline-block;
}
.comments-section .comment-navigation .nav-previous {
  float: right;
}
.comments-section .comment-respond {
  width: 600px;
  margin: 30px auto 0;
}
.comments-section .comment-respond h3.comment-reply-title {
  font-size: 30px;
}
.comments-section .comment-respond form label {
  display: inline-block;
  width: 150px;
}
.comments-section .comment-respond form input[type="text"] {
  width: 400px;
  height: 30px;
  font-size: 16px;
}
.comments-section .comment-respond form textarea {
  font-family: sans-serif;
  width: 400px;
  height: 100px;
  font-size: 16px;
  vertical-align: text-top;
}
.comments-section .nocomments {
  margin: 10px 0 60px;
  font-size: 32px;
  text-align: center;
}
.home .comments-section {
  margin-top: 0;
}
.comment-block-container {
  clear: both;
  margin: 0 auto 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-block-container .comment-info-container {
  padding: 40px 0;
}
.comment-block-container .comment-info-container .comment-author-name {
  text-align: center;
}
.comment-block-container .comment-info-container .comment-author-name a,
.comment-block-container .comment-info-container .comment-author-name cite {
  font-size: 15px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}
.comment-block-container .comment-info-container .comment-author-avatar-container {
  text-align: center;
}
.comment-block-container .comment-info-container .comment-author-avatar-container img {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.comment-block-container .comment-body-container {
  position: relative;
  min-height: 210px;
  padding: 40px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-block-container .comment-body-container .comment-body {
  font-size: 18px;
  line-height: 1.6;
  padding: 0 20px;
  margin-bottom: 40px;
}
.comment-block-container .comment-body-container .comment-body p {
  font-size: 15px;
  line-height: 1.4em;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 25px;
}
.comment-block-container .comment-body-container .comment-body ol {
  padding-left: 25px;
  list-style-type: decimal;
  margin: 0 0 25px 0;
}
.comment-block-container .comment-body-container .comment-body ul {
  padding-left: 25px;
  list-style-type: disc;
  margin: 0 0 25px 0;
}
.comment-block-container .comment-body-container .comment-body li {
  font-size: 15px;
  line-height: 1.5em;
}
.comment-block-container .comment-body-container .comment-body dl {
  padding: 0 0 25px 0;
}
.comment-block-container .comment-body-container .comment-body dt {
  font-weight: bold;
}
.comment-block-container .comment-body-container .comment-body dd {
  padding: 10px 0 18px 40px;
  font-size: 14px;
  line-height: 1.5em;
}
.comment-block-container .comment-body-container .comment-body h1 {
  font-size: 34px;
}
.comment-block-container .comment-body-container .comment-body h2 {
  font-size: 30px;
}
.comment-block-container .comment-body-container .comment-body h3 {
  font-size: 26px;
}
.comment-block-container .comment-body-container .comment-body h4 {
  font-size: 22px;
}
.comment-block-container .comment-body-container .comment-body h5 {
  font-size: 20px;
}
.comment-block-container .comment-body-container .comment-body h6 {
  font-size: 18px;
}
.comment-block-container .comment-body-container .comment-body h1,
.comment-block-container .comment-body-container .comment-body h2,
.comment-block-container .comment-body-container .comment-body h3,
.comment-block-container .comment-body-container .comment-body h4,
.comment-block-container .comment-body-container .comment-body h5,
.comment-block-container .comment-body-container .comment-body h6 {
  padding-top: 0;
}
.comment-block-container .comment-body-container .comment-body blockquote p:before,
.comment-block-container .comment-body-container .comment-body blockquote p:after {
  font-size: .7em;
  vertical-align: text-top;
}
.comment-block-container .comment-body-container .comment-body blockquote p:before {
  padding-right: 5px;
  content: "\f10d";
}
.comment-block-container .comment-body-container .comment-body blockquote p:after {
  padding-left: 3px;
  content: "\f10e";
}
.comment-block-container .comment-body-container .comment-body table {
  font-size: .9em;
  margin-bottom: 40px;
}
.comment-block-container .comment-body-container .comment-body table th,
.comment-block-container .comment-body-container .comment-body table td {
  padding: 7px 10px;
}
.comment-block-container .comment-body-container .comment-body table a {
  color: inherit;
  text-decoration: none;
}
.comment-block-container .comment-body-container .comment-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  padding: 0 4px;
}
.comment-block-container .comment-body-container .comment-meta a {
  text-decoration: none;
}
.comment-block-container .comment-body-container .reply {
  display: inline-block;
  padding-left: 20px;
}
.comment-block-container .comment-body-container .reply a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}
.comment-block-container .comment-body-container .comment-edit {
  display: inline-block;
}
.archive-meta-container {
  text-align: center;
  padding: 5px 0;
}
.archive-meta-container .archive-head h1 {
  font-size: 34px;
  letter-spacing: 1px;
}
.archive-meta-container .archive-description {
  margin: 0 auto;
  text-align: center;
  max-width: 675px;
}
.loop-section-col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
}
.loop-section-col:nth-child(3n+1) {
  clear: both;
}
.loop-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 13px 15px;
}
.loop-post-title h1 {
  padding: 0;
  padding-bottom: 10px;
}
.loop-post-title a {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  padding: 0 0 10px;
  text-decoration: none;
}
.loop-post-meta {
  font-size: 13px;
}
.loop-post-meta a {
  text-decoration: none;
}
.loop-post-excerpt {
  padding: 25px 0 0;
}
.loop-post-excerpt .loop-post-text {
  padding: 0;
  float: left;
  font-size: 18px;
  line-height: 1.4em;
}
.loop-post-excerpt .loop-post-text p {
  font-size: 14px;
  line-height: 1.9;
  margin-bottom: 0;
}
.loop-thumbnail {
  float: left;
  padding-top: 6px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.loop-thumbnail img {
  width: 193px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
}
.read-more {
  display: none;
  float: right;
  clear: both;
  margin-top: 20px;
  margin-right: -15px;
  padding: 8px 10px;
  text-decoration: none;
}
.read-more i {
  font-size: 16px;
  padding-left: 5px;
  vertical-align: baseline;
}
.archive-nav {
  padding: 20px 10px 0;
  clear: both;
}
.archive-nav a {
  text-decoration: none;
  font-size: 15px;
}
.nav-previous,
.nav-next {
  display: inline-block;
}
.nav-previous {
  text-align: right;
  float: right;
}
.nav-next {
  text-align: left;
}
.social-section {
  position: absolute;
  top: 6px;
  right: 12px;
  text-align: right;
  z-index: 101;
}
.social-icons {
  display: inline-block;
}
.social-icons a {
  min-width: 12px;
  font-size: 11px;
  display: inline-block;
  padding: 3px 3px;
  text-align: center;
  margin-left: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.socialicons-mi,
.socialicons-mo {
  display: none;
}
.telephone-text {
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}
.footerbox-bg-section {
  padding-top: 50px;
}
.footerbox-section {
  font-size: 14px;
}
.footerbox-cols {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.footerbox-section .widget {
  margin-bottom: 40px;
}
.footerbox-section h4.widget-title {
  font-size: 24px;
  padding-bottom: 34px;
}
.footerbox-section ul {
  padding-left: 10px;
}
.footerbox-section ul li {
  padding: 2px 0;
  line-height: 1.7;
  list-style-type: none;
  list-style-position: outside;
}
.footerbox-section ul li:before {
  content: "\f061";
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: .7em;
  vertical-align: middle;
}
.footerbox-section select {
  width: 90%;
}
.footerbox-section .widget_text .textwidget {
  font-size: 18px;
  line-height: 1.7;
}
.footerbox-section .widget_tag_cloud .tagcloud a {
  line-height: 1.3;
  letter-spacing: 1px;
}
.footerbox-section .widget_calendar table {
  width: 90%;
  margin: 0 auto;
}
.footerbox-section .widget_calendar table caption {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}
.footerbox-section .widget_calendar table thead th,
.footerbox-section .widget_calendar table tbody td {
  text-align: center;
  padding: 7px;
}
.footerbox-section .widget_calendar table tfoot td {
  padding-top: 20px;
  text-align: center;
}
.footerbox-section .widget_search .search-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
}
.footerbox-section .widget_search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  border: 0;
  min-height: 24px;
}
.footerbox-section .widget_search input[type="text"] {
  width: 80%;
}
.footerbox-section .widget_search input[type="submit"] {
  width: 20%;
}
.footer-section {
  font-size: 16px;
  padding: 18px 0;
  text-align: center;
}
.footer-section a {
  text-decoration: none;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  text-decoration: none;
  opacity: .9;
  padding: 15px 20px;
}
.feather_blue .archive-meta-container .archive-head h1 {
  color: #444444;
}
.feather_blue .cta-buttons a {
  border: 1px solid #d3d3d3;
  background-color: #e7e7e7;
  color: #333333;
}
.feather_blue .flex-caption .featured-heading {
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.7);
  color: #EEE;
}
.feather_blue .flex-caption .featured-content {
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.7);
  color: #EEE;
}
.feather_blue .flex-caption .featured-button {
  background-color: #19a3d1;
  background-color: rgba(25, 163, 209, 0.9);
}
.feather_blue .flex-caption .featured-button a {
  color: #EEEEEE;
}
.feather_blue .footer-bg-section {
  background-color: #19a3d1;
  border-top: 1px solid #147fa3;
}
.feather_blue .site-title a,
.feather_blue .site-description {
  color: #19a3d1;
}
.feather_blue.home-template .loop-thumbnail img,
.feather_blue.archive-template .loop-thumbnail img,
.feather_blue.page-template .loop-thumbnail img {
  border: 1px solid #bbbbbb;
}
.feather_blue.home-template .read-more,
.feather_blue.archive-template .read-more,
.feather_blue.page-template .read-more {
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;
  color: #333333;
}
.feather_blue.home-template .archive-nav,
.feather_blue.archive-template .archive-nav,
.feather_blue.page-template .archive-nav {
  border-left: 1px solid #ffffff;
}
.feather_blue.home-template .archive-nav a,
.feather_blue.archive-template .archive-nav a,
.feather_blue.page-template .archive-nav a {
  color: #19a3d1;
}
.feather_blue .primarymenu-resp i {
  color: #eeeeee;
  background-color: #106784;
}
.feather_blue.post-template .post-meta .meta-author-url a {
  color: #19a3d1;
}
.feather_blue.post-template .tags-below-content a {
  color: #444444;
  border: 1px solid #666666;
}
.feather_blue.post-template .post-content a:link,
.feather_blue.post-template .comment-body a:link {
  color: #19a3d1;
}
.feather_blue.post-template .post-content a:visited,
.feather_blue.post-template .comment-body a:visited {
  color: #56c6eb;
}
.feather_blue.post-template .post-content a:hover,
.feather_blue.post-template .comment-body a:hover {
  color: #106784;
}
.feather_blue.post-template .post-content a:active,
.feather_blue.post-template .comment-body a:active {
  color: #1691ba;
}
.feather_blue.post-template .post-content blockquote p:before,
.feather_blue.post-template .comment-body blockquote p:before,
.feather_blue.post-template .post-content blockquote p:after,
.feather_blue.post-template .comment-body blockquote p:after {
  color: #666666;
}
.feather_blue.post-template .post-content table,
.feather_blue.post-template .comment-body table {
  border: 1px solid #999999;
}
.feather_blue.post-template .post-content table th,
.feather_blue.post-template .comment-body table th {
  background-color: #e7e7e7;
}
.feather_blue.post-template .post-content table thead th,
.feather_blue.post-template .comment-body table thead th {
  border-bottom: 1px solid #999999;
}
.feather_blue.post-template .post-content table tbody th,
.feather_blue.post-template .comment-body table tbody th {
  border-right: 1px solid #999999;
}
.feather_blue.post-template .post-content pre,
.feather_blue.post-template .comment-body pre,
.feather_blue.post-template .post-content code,
.feather_blue.post-template .comment-body code,
.feather_blue.post-template .post-content kbd,
.feather_blue.post-template .comment-body kbd,
.feather_blue.post-template .post-content tt,
.feather_blue.post-template .comment-body tt,
.feather_blue.post-template .post-content var,
.feather_blue.post-template .comment-body var {
  background-color: #e7e7e7;
}
.feather_blue.post-template .post-nav a,
.feather_blue.post-template .comment-navigation a {
  color: #19a3d1;
}
@media only screen and (max-width: 1000px) {
  .feather_blue .primarymenu-section {
    background-color: #eeeeee;
  }
  .feather_blue .primarymenu-section li a {
    border-bottom: 1px solid #116e8d;
    background-color: #093848;
  }
}
@media only screen and (max-width: 850px) {
  .feather_blue div.mudpack-service {
    border-bottom: 0;
  }
  .feather_blue div.content-section {
    border-top: 1px solid #eaeaea;
  }
}
@media only screen and (max-width: 550px) {
  .feather_blue .social-section .social-icons a {
    background-color: #666666;
    border: 0;
    color: #EEEEEE;
  }
}
.feather_blue .mudpack-cb-icon-location-left.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  border: 1px solid #000000;
}
.feather_blue .mudpack-cb-icon-location-top.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  border: 1px solid #000000;
}
.feather_blue .mudpack-service .mudpack-service-image a img {
  border: 1px solid #bbbbbb;
}
.feather_blue .mudpack-service .mudpack-service-text a {
  color: #111111;
}
.feather_blue .mudpack-service .mudpack-service-text a i {
  border: 1px solid #444444;
  color: #444444;
}
.feather_blue .mudpack-service .mudpack-service-text :hover a {
  color: #dddddd;
}
.feather_blue .social-icons a {
  color: #ffffff;
  background-color: #19a3d1;
  border: 1px solid #19a3d1;
}
.feather_blue .social-icons a:hover {
  color: #ffffff;
  background-color: #1bb1e3;
  border: 1px solid #1bb1e3;
}
.feather_blue .socialicons-mi {
  background-color: #888888;
  border-color: #888888;
  color: #ffffff;
}
.feather_blue .socialicons-mo {
  background-color: #666666;
  border-color: #666666;
  color: #f2f2f2;
}
.feather_blue .header-bg-section {
  background-color: #ffffff;
}
.feather_blue .cta-bg-section {
  border-bottom: 7px solid #444;
}
.feather_blue .mudpack-service .mudpack-service-link a {
  color: #333333;
  background-color: #e7e7e7;
}
.feather_blue .footerbox-section a:link {
  color: #19a3d1;
}
.feather_blue .footerbox-section a:visited {
  color: #56c6eb;
}
.feather_blue .footerbox-section a:hover {
  color: #106784;
}
.feather_blue .footerbox-section a:active {
  color: #1691ba;
}
.feather_blue .footerbox-section ul li:before {
  color: #666666;
}
.feather_blue .footerbox-section .widget-title {
  color: #000000;
}
.feather_blue .footerbox-section .widget {
  color: #000000;
}
.feather_blue .footerbox-section .widget_calendar table thead th,
.feather_blue .footerbox-section .widget_calendar table tbody td {
  background-color: #f3f3f3;
  border: 4px solid #ffffff;
}
.feather_blue .footerbox-section .widget_calendar table tbody td.pad {
  background-color: #ffffff;
}
.feather_blue .footerbox-section .widget_search .search-box {
  border: 1px solid #cccccc;
}
.feather_blue .footerbox-section .widget_search input[type="submit"] {
  border-left: 1px solid #cccccc;
}
.feather_blue .wp-caption {
  background-color: #e7e7e7;
}
.feather_blue .wrapper {
  background-color: #ffffff;
}
.feather_blue .nav-section {
  background-color: #19a3d1;
}
.feather_blue .primarymenu-section li.current-menu-item > a,
.feather_blue .primarymenu-section li.current-menu-ancestor > a,
.feather_blue .primarymenu-section li.current_page_item > a,
.feather_blue .primarymenu-section li.current_page_ancestor > a {
  background-color: #158ab1;
  color: #ffffff;
}
.feather_blue .primarymenu-section a {
  color: #ffffff;
  background-color: #19a3d1;
}
.feather_blue .primarymenu-section a:hover {
  background-color: #158ab1;
  color: #ffffff;
}
.feather_blue .primarymenu-section .sub-menu,
.feather_blue .primarymenu-section .children {
  border: 1px solid #116e8d;
  border-bottom: none;
}
.feather_blue .primarymenu-section .sub-menu li a,
.feather_blue .primarymenu-section .children li a {
  color: #ffffff;
  background-color: #147fa3;
  border-bottom: 1px solid #116e8d;
}
.feather_blue .primarymenu-section .sub-menu li a:hover,
.feather_blue .primarymenu-section .children li a:hover {
  color: #ffffff;
  background-color: #158ab1;
}
.feather_blue .primarymenu-section.menuClicked a,
.feather_blue .primarymenu-section.menuClicked .sub-menu a,
.feather_blue .primarymenu-section.menuClicked .children a {
  background-color: #0e5c76;
  color: #eeeeee;
  border-bottom: 1px solid #116e8d;
}
.feather_blue .primarymenu-section.menuClicked a:hover,
.feather_blue .primarymenu-section.menuClicked .sub-menu a:hover,
.feather_blue .primarymenu-section.menuClicked .children a:hover {
  background-color: #0e5c76;
  color: #eeeeee;
}
.feather_blue ul.sf-menu > li > a {
  border-right: 1px solid #158ab1;
}
.feather_blue .loop-section {
  border: 1px solid #eaeaea;
}
.feather_blue .loop-post-title a {
  color: #444444;
}
.feather_blue .loop-meta-author a {
  color: #19a3d1;
}
.feather_blue .archive-meta-container .author a {
  color: #19a3d1;
}
.feather_blue .footer-section,
.feather_blue .footer-section a {
  color: #ffffff;
}
.cadet_blue .archive-meta-container .archive-head h1 {
  color: #444444;
}
.cadet_blue .cta-buttons a {
  border: 1px solid #d3d3d3;
  background-color: #e7e7e7;
  color: #333333;
}
.cadet_blue .flex-caption .featured-heading {
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.7);
  color: #EEE;
}
.cadet_blue .flex-caption .featured-content {
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.7);
  color: #EEE;
}
.cadet_blue .flex-caption .featured-button {
  background-color: #5f9ea0;
  background-color: rgba(95, 158, 160, 0.9);
}
.cadet_blue .flex-caption .featured-button a {
  color: #EEEEEE;
}
.cadet_blue .footer-bg-section {
  background-color: #5f9ea0;
  border-top: 1px solid #4c7e80;
}
.cadet_blue .site-title a,
.cadet_blue .site-description {
  color: #5f9ea0;
}
.cadet_blue.home-template .loop-thumbnail img,
.cadet_blue.archive-template .loop-thumbnail img,
.cadet_blue.page-template .loop-thumbnail img {
  border: 1px solid #bbbbbb;
}
.cadet_blue.home-template .read-more,
.cadet_blue.archive-template .read-more,
.cadet_blue.page-template .read-more {
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;
  color: #333333;
}
.cadet_blue.home-template .archive-nav,
.cadet_blue.archive-template .archive-nav,
.cadet_blue.page-template .archive-nav {
  border-left: 1px solid #ffffff;
}
.cadet_blue.home-template .archive-nav a,
.cadet_blue.archive-template .archive-nav a,
.cadet_blue.page-template .archive-nav a {
  color: #5f9ea0;
}
.cadet_blue .primarymenu-resp i {
  color: #eeeeee;
  background-color: #3f686a;
}
.cadet_blue.post-template .post-meta .meta-author-url a {
  color: #5f9ea0;
}
.cadet_blue.post-template .tags-below-content a {
  color: #444444;
  border: 1px solid #666666;
}
.cadet_blue.post-template .post-content a:link,
.cadet_blue.post-template .comment-body a:link {
  color: #5f9ea0;
}
.cadet_blue.post-template .post-content a:visited,
.cadet_blue.post-template .comment-body a:visited {
  color: #95bfc0;
}
.cadet_blue.post-template .post-content a:hover,
.cadet_blue.post-template .comment-body a:hover {
  color: #3f686a;
}
.cadet_blue.post-template .post-content a:active,
.cadet_blue.post-template .comment-body a:active {
  color: #568e90;
}
.cadet_blue.post-template .post-content blockquote p:before,
.cadet_blue.post-template .comment-body blockquote p:before,
.cadet_blue.post-template .post-content blockquote p:after,
.cadet_blue.post-template .comment-body blockquote p:after {
  color: #666666;
}
.cadet_blue.post-template .post-content table,
.cadet_blue.post-template .comment-body table {
  border: 1px solid #999999;
}
.cadet_blue.post-template .post-content table th,
.cadet_blue.post-template .comment-body table th {
  background-color: #e7e7e7;
}
.cadet_blue.post-template .post-content table thead th,
.cadet_blue.post-template .comment-body table thead th {
  border-bottom: 1px solid #999999;
}
.cadet_blue.post-template .post-content table tbody th,
.cadet_blue.post-template .comment-body table tbody th {
  border-right: 1px solid #999999;
}
.cadet_blue.post-template .post-content pre,
.cadet_blue.post-template .comment-body pre,
.cadet_blue.post-template .post-content code,
.cadet_blue.post-template .comment-body code,
.cadet_blue.post-template .post-content kbd,
.cadet_blue.post-template .comment-body kbd,
.cadet_blue.post-template .post-content tt,
.cadet_blue.post-template .comment-body tt,
.cadet_blue.post-template .post-content var,
.cadet_blue.post-template .comment-body var {
  background-color: #e7e7e7;
}
.cadet_blue.post-template .post-nav a,
.cadet_blue.post-template .comment-navigation a {
  color: #5f9ea0;
}
@media only screen and (max-width: 1000px) {
  .cadet_blue .primarymenu-section {
    background-color: #eeeeee;
  }
  .cadet_blue .primarymenu-section li a {
    border-bottom: 1px solid #436f70;
    background-color: #263f40;
  }
}
@media only screen and (max-width: 850px) {
  .cadet_blue div.mudpack-service {
    border-bottom: 0;
  }
  .cadet_blue div.content-section {
    border-top: 1px solid #eaeaea;
  }
}
@media only screen and (max-width: 550px) {
  .cadet_blue .social-section .social-icons a {
    background-color: #666666;
    border: 0;
    color: #EEEEEE;
  }
}
.cadet_blue .mudpack-cb-icon-location-left.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  border: 1px solid #000000;
}
.cadet_blue .mudpack-cb-icon-location-top.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  border: 1px solid #000000;
}
.cadet_blue .mudpack-service .mudpack-service-image a img {
  border: 1px solid #bbbbbb;
}
.cadet_blue .mudpack-service .mudpack-service-text a {
  color: #111111;
}
.cadet_blue .mudpack-service .mudpack-service-text a i {
  border: 1px solid #444444;
  color: #444444;
}
.cadet_blue .mudpack-service .mudpack-service-text :hover a {
  color: #dddddd;
}
.cadet_blue .social-icons a {
  color: #ffffff;
  background-color: #5f9ea0;
  border: 1px solid #5f9ea0;
}
.cadet_blue .social-icons a:hover {
  color: #ffffff;
  background-color: #6ca6a8;
  border: 1px solid #6ca6a8;
}
.cadet_blue .socialicons-mi {
  background-color: #888888;
  border-color: #888888;
  color: #ffffff;
}
.cadet_blue .socialicons-mo {
  background-color: #666666;
  border-color: #666666;
  color: #f2f2f2;
}
.cadet_blue .header-bg-section {
  background-color: #ffffff;
}
.cadet_blue .cta-bg-section {
  border-bottom: 7px solid #444;
}
.cadet_blue .mudpack-service .mudpack-service-link a {
  color: #333333;
  background-color: #e7e7e7;
}
.cadet_blue .footerbox-section a:link {
  color: #5f9ea0;
}
.cadet_blue .footerbox-section a:visited {
  color: #95bfc0;
}
.cadet_blue .footerbox-section a:hover {
  color: #3f686a;
}
.cadet_blue .footerbox-section a:active {
  color: #568e90;
}
.cadet_blue .footerbox-section ul li:before {
  color: #666666;
}
.cadet_blue .footerbox-section .widget-title {
  color: #000000;
}
.cadet_blue .footerbox-section .widget {
  color: #000000;
}
.cadet_blue .footerbox-section .widget_calendar table thead th,
.cadet_blue .footerbox-section .widget_calendar table tbody td {
  background-color: #f3f3f3;
  border: 4px solid #ffffff;
}
.cadet_blue .footerbox-section .widget_calendar table tbody td.pad {
  background-color: #ffffff;
}
.cadet_blue .footerbox-section .widget_search .search-box {
  border: 1px solid #cccccc;
}
.cadet_blue .footerbox-section .widget_search input[type="submit"] {
  border-left: 1px solid #cccccc;
}
.cadet_blue .wp-caption {
  background-color: #e7e7e7;
}
.cadet_blue .wrapper {
  background-color: #ffffff;
}
.cadet_blue .nav-section {
  background-color: #5f9ea0;
}
.cadet_blue .primarymenu-section li.current-menu-item > a,
.cadet_blue .primarymenu-section li.current-menu-ancestor > a,
.cadet_blue .primarymenu-section li.current_page_item > a,
.cadet_blue .primarymenu-section li.current_page_ancestor > a {
  background-color: #52888a;
  color: #ffffff;
}
.cadet_blue .primarymenu-section a {
  color: #ffffff;
  background-color: #5f9ea0;
}
.cadet_blue .primarymenu-section a:hover {
  background-color: #52888a;
  color: #ffffff;
}
.cadet_blue .primarymenu-section .sub-menu,
.cadet_blue .primarymenu-section .children {
  border: 1px solid #436f70;
  border-bottom: none;
}
.cadet_blue .primarymenu-section .sub-menu li a,
.cadet_blue .primarymenu-section .children li a {
  color: #ffffff;
  background-color: #4c7e80;
  border-bottom: 1px solid #436f70;
}
.cadet_blue .primarymenu-section .sub-menu li a:hover,
.cadet_blue .primarymenu-section .children li a:hover {
  color: #ffffff;
  background-color: #52888a;
}
.cadet_blue .primarymenu-section.menuClicked a,
.cadet_blue .primarymenu-section.menuClicked .sub-menu a,
.cadet_blue .primarymenu-section.menuClicked .children a {
  background-color: #395f60;
  color: #eeeeee;
  border-bottom: 1px solid #436f70;
}
.cadet_blue .primarymenu-section.menuClicked a:hover,
.cadet_blue .primarymenu-section.menuClicked .sub-menu a:hover,
.cadet_blue .primarymenu-section.menuClicked .children a:hover {
  background-color: #395f60;
  color: #eeeeee;
}
.cadet_blue ul.sf-menu > li > a {
  border-right: 1px solid #52888a;
}
.cadet_blue .loop-section {
  border: 1px solid #eaeaea;
}
.cadet_blue .loop-post-title a {
  color: #444444;
}
.cadet_blue .loop-meta-author a {
  color: #5f9ea0;
}
.cadet_blue .archive-meta-container .author a {
  color: #5f9ea0;
}
.cadet_blue .footer-section,
.cadet_blue .footer-section a {
  color: #ffffff;
}
.white .archive-meta-container .archive-head h1 {
  color: #444444;
}
.white .cta-buttons a {
  border: 1px solid #d3d3d3;
  background-color: #e7e7e7;
  color: #333333;
}
.white .flex-caption .featured-heading {
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.7);
  color: #EEE;
}
.white .flex-caption .featured-content {
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.7);
  color: #EEE;
}
.white .flex-caption .featured-button {
  background-color: #145aaa;
  background-color: rgba(20, 90, 170, 0.9);
}
.white .flex-caption .featured-button a {
  color: #EEEEEE;
}
.white .footer-bg-section {
  background-color: #ffffff;
  border-top: 1px solid #e1e1e1;
}
.white .site-title a,
.white .site-description {
  color: #555555;
}
.white.home-template .loop-thumbnail img,
.white.archive-template .loop-thumbnail img,
.white.page-template .loop-thumbnail img {
  border: 1px solid #bbbbbb;
}
.white.home-template .read-more,
.white.archive-template .read-more,
.white.page-template .read-more {
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;
  color: #333333;
}
.white.home-template .archive-nav,
.white.archive-template .archive-nav,
.white.page-template .archive-nav {
  border-left: 1px solid #ffffff;
}
.white.home-template .archive-nav a,
.white.archive-template .archive-nav a,
.white.page-template .archive-nav a {
  color: #0000ff;
}
.white .primarymenu-resp i {
  color: #eeeeee;
  background-color: #1d1d1d;
}
.white.post-template .post-meta .meta-author-url a {
  color: #0000ff;
}
.white.post-template .tags-below-content a {
  color: #444444;
  border: 1px solid #666666;
}
.white.post-template .post-content a:link,
.white.post-template .comment-body a:link {
  color: #0000ff;
}
.white.post-template .post-content a:visited,
.white.post-template .comment-body a:visited {
  color: #5757ff;
}
.white.post-template .post-content a:hover,
.white.post-template .comment-body a:hover {
  color: #0000a8;
}
.white.post-template .post-content a:active,
.white.post-template .comment-body a:active {
  color: #0000e6;
}
.white.post-template .post-content blockquote p:before,
.white.post-template .comment-body blockquote p:before,
.white.post-template .post-content blockquote p:after,
.white.post-template .comment-body blockquote p:after {
  color: #666666;
}
.white.post-template .post-content table,
.white.post-template .comment-body table {
  border: 1px solid #999999;
}
.white.post-template .post-content table th,
.white.post-template .comment-body table th {
  background-color: #e7e7e7;
}
.white.post-template .post-content table thead th,
.white.post-template .comment-body table thead th {
  border-bottom: 1px solid #999999;
}
.white.post-template .post-content table tbody th,
.white.post-template .comment-body table tbody th {
  border-right: 1px solid #999999;
}
.white.post-template .post-content pre,
.white.post-template .comment-body pre,
.white.post-template .post-content code,
.white.post-template .comment-body code,
.white.post-template .post-content kbd,
.white.post-template .comment-body kbd,
.white.post-template .post-content tt,
.white.post-template .comment-body tt,
.white.post-template .post-content var,
.white.post-template .comment-body var {
  background-color: #e7e7e7;
}
.white.post-template .post-nav a,
.white.post-template .comment-navigation a {
  color: #0000ff;
}
@media only screen and (max-width: 1000px) {
  .white .primarymenu-section {
    background-color: #e7e7e7;
  }
  .white .primarymenu-section li a {
    border-bottom: 1px solid #bbbbbb;
    background-color: #eeeeee;
  }
}
@media only screen and (max-width: 850px) {
  .white div.mudpack-service {
    border-bottom: 0;
  }
  .white div.content-section {
    border-top: 1px solid #e5e5e5;
  }
}
@media only screen and (max-width: 550px) {
  .white .social-section .social-icons a {
    background-color: #666666;
    border: 0;
    color: #EEEEEE;
  }
}
.white .mudpack-cb-icon-location-left.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  border: 1px solid #000000;
}
.white .mudpack-cb-icon-location-top.mudpack-cb-icon-border-circular .mudpack-cb-icon i {
  border: 1px solid #000000;
}
.white .mudpack-service .mudpack-service-image a img {
  border: 1px solid #bbbbbb;
}
.white .mudpack-service .mudpack-service-text a {
  color: #111111;
}
.white .mudpack-service .mudpack-service-text a i {
  border: 1px solid #444444;
  color: #444444;
}
.white .mudpack-service .mudpack-service-text :hover a {
  color: #dddddd;
}
.white .social-icons a {
  color: #aaaaaa;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.white .social-icons a:hover {
  color: #8f8f8f;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
}
.white .socialicons-mi {
  background-color: #888888;
  border-color: #888888;
  color: #ffffff;
}
.white .socialicons-mo {
  background-color: #666666;
  border-color: #666666;
  color: #f2f2f2;
}
.white .header-bg-section {
  background-color: #ffffff;
}
.white .cta-bg-section {
  border-bottom: 7px solid #444;
}
.white .mudpack-service .mudpack-service-link a {
  color: #333333;
  background-color: #e7e7e7;
}
.white .footerbox-section a:link {
  color: #0000ff;
}
.white .footerbox-section a:visited {
  color: #5757ff;
}
.white .footerbox-section a:hover {
  color: #0000a8;
}
.white .footerbox-section a:active {
  color: #0000e6;
}
.white .footerbox-section ul li:before {
  color: #666666;
}
.white .footerbox-section .widget-title {
  color: #000000;
}
.white .footerbox-section .widget {
  color: #000000;
}
.white .footerbox-section .widget_calendar table thead th,
.white .footerbox-section .widget_calendar table tbody td {
  background-color: #f3f3f3;
  border: 4px solid #ffffff;
}
.white .footerbox-section .widget_calendar table tbody td.pad {
  background-color: #ffffff;
}
.white .footerbox-section .widget_search .search-box {
  border: 1px solid #cccccc;
}
.white .footerbox-section .widget_search input[type="submit"] {
  border-left: 1px solid #cccccc;
}
.white .wp-caption {
  background-color: #e7e7e7;
}
.white .wrapper {
  background-color: #ffffff;
}
.white .nav-section {
  background-color: #444444;
}
.white .primarymenu-section li.current-menu-item > a,
.white .primarymenu-section li.current-menu-ancestor > a,
.white .primarymenu-section li.current_page_item > a,
.white .primarymenu-section li.current_page_ancestor > a {
  background-color: #f1f1f1;
  color: #1d1d1d;
}
.white .primarymenu-section a {
  color: #eeeeee;
  background-color: #444444;
}
.white .primarymenu-section a:hover {
  background-color: #555555;
  color: #eeeeee;
}
.white .primarymenu-section .sub-menu,
.white .primarymenu-section .children {
  border: 1px solid #e2e2e2;
  border-bottom: none;
}
.white .primarymenu-section .sub-menu li a,
.white .primarymenu-section .children li a {
  color: #444444;
  background-color: #f9f9f9;
  border-bottom: 1px solid #cccccc;
}
.white .primarymenu-section .sub-menu li a:hover,
.white .primarymenu-section .children li a:hover {
  color: #111111;
  background-color: #f1f1f1;
}
.white .primarymenu-section.menuClicked a,
.white .primarymenu-section.menuClicked .sub-menu a,
.white .primarymenu-section.menuClicked .children a {
  background-color: #111111;
  color: #eeeeee;
  border-bottom: 1px solid #1e1e1e;
}
.white .primarymenu-section.menuClicked a:hover,
.white .primarymenu-section.menuClicked .sub-menu a:hover,
.white .primarymenu-section.menuClicked .children a:hover {
  background-color: #111111;
  color: #eeeeee;
}
.white ul.sf-menu > li > a {
  border-right: 1px solid #2e2e2e;
}
.white .loop-section {
  border: 1px solid #e5e5e5;
}
.white .loop-post-title a {
  color: #444444;
}
.white .loop-meta-author a {
  color: #0000ff;
}
.white .archive-meta-container .author a {
  color: #0000ff;
}
.white .footer-section,
.white .footer-section a {
  color: #666666;
}
.comments-section .commentslist .comment-parent-author span {
  color: #333333;
  background-color: #e8e8e8;
}
.comments-section .nocomments {
  color: #333333;
}
.comment-block-container {
  border: 1px solid #e9e9e9;
}
.comment-block-container .comment-info-container .comment-author-name a,
.comment-block-container .comment-info-container .comment-author-name cite {
  color: #444444;
}
.comment-block-container .comment-body-container {
  border-left: 1px solid #e9e9e9;
}
.comment-block-container .comment-body-container .comment-meta {
  background-color: #e8e8e8;
}
.comment-block-container .comment-body-container .comment-meta a {
  color: #333333;
}
.comment-block-container .comment-body-container .reply a {
  color: #333333;
}
#scrollUp {
  color: #ffffff;
  background-color: #d8d8d8;
}
#scrollUp:hover {
  background-color: #aaaaaa;
}
.social-icons-colored .icon a {
  color: #ffffff;
}
.social-icons-colored .facebook-icon a {
  background-color: #526ba4;
}
.social-icons-colored .twitter-icon a {
  background-color: #2aa9df;
}
.social-icons-colored .google-icon a {
  background-color: #de561a;
}
.social-icons-colored .rss-icon a {
  background-color: #f9a043;
}
.social-icons-colored .pinterest-icon a {
  background-color: #cf292c;
}
.social-icons-colored .linkedin-icon a {
  background-color: #6592bc;
}
.social-icons-colored .tumblr-icon a {
  background-color: #69758a;
}
.social-icons-colored .youtube-play-icon a {
  background-color: #c10c0c;
}
.social-icons-colored .instagram-icon a {
  background-color: #618cae;
}
.social-icons-colored .github-icon a {
  background-color: #4382c5;
}
.social-icons-colored .bitbucket-icon a {
  background-color: #013567;
}
.social-icons-colored .flickr-icon a {
  background-color: #ff0084;
}
.social-icons-colored .dribbble-icon a {
  background-color: #f46899;
}
.social-icons-colored .skype-icon a {
  background-color: #04b3ec;
}
.social-icons-colored .stack-overflow-icon a {
  background-color: #fea501;
}
.social-icons-colored .vimeo-square-icon a {
  background-color: #5bc8ff;
}
.social-icons-colored .xing-icon a {
  background-color: #005d5d;
}
@media only screen and (min-width: 1001px) {
  .primarymenu-resp {
    display: none;
  }
  .primarymenu-section {
    display: block !important;
  }
}
@media only screen and (max-width: 1023px) {
  .parent-wrapper {
    margin-top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .primarymenu-resp {
    display: block;
  }
  .primarymenu-section ul.sf-menu,
  .primarymenu-section ul.sf-menu ul {
    width: 100%;
  }
  .primarymenu-section {
    display: none;
  }
  .primarymenu-section {
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 100%;
  }
  .primarymenu-section li {
    width: 100%;
    float: left;
    clear: both;
  }
  .primarymenu-section li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-transform: none;
    font-size: 12px;
    padding: 14px 0 14px 7px;
    border-right: 0 !important;
    text-transform: uppercase;
  }
  .primarymenu-section .menu-item-has-children > a:after {
    content: '';
  }
  .primarymenu-section.menuClicked .sf-menu ul {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    border: 0;
  }
  .primarymenu-section.menuClicked .sf-menu ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    padding-left: 15px;
    background-color: transparent;
  }
  .primarymenu-section.menuClicked .sf-menu ul li a:before {
    content: '\f0da';
    padding-right: 3px;
    font-family: FontAwesome;
  }
  .primarymenu-section.menuClicked .sf-menu ul ul {
    display: block;
  }
}
@media only screen and (max-width: 850px) {
  .loop-section-col {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
  }
  .loop-section-col:nth-child(3n+1) {
    clear: none;
    padding-left: 8px;
  }
  .loop-section-col:nth-child(3n+3) {
    padding-right: 8px;
  }
  .loop-section-col:nth-child(2n+1) {
    padding-left: 16px;
    clear: both;
  }
  .loop-section-col:nth-child(2n+2) {
    padding-right: 16px;
  }
}
@media only screen and (max-width: 756px) {
  .logo-section {
    width: 100%;
  }
  .flex-caption {
    top: 15%;
  }
  .flexslider .slides img {
    width: 756px;
    min-width: 700px;
    overflow: hidden;
  }
  .comments-section .comment-respond {
    width: 100%;
  }
  .comments-section .comment-respond form input[type="text"],
  .comments-section .comment-respond form textarea {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .comment-block-container {
    position: relative;
  }
  .comment-block-container .comment-body-container {
    width: 100%;
    min-height: 100px;
    border: 0;
    padding: 15px 0 35px;
  }
  .comment-block-container .comment-body-container .reply a {
    font-size: 14px;
  }
  .comment-block-container .comment-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
  }
  .comment-block-container .comment-info-container img {
    display: none;
  }
  .comment-block-container .comment-info-container .comment-author-name {
    text-align: left;
  }
  .comment-block-container .comment-info-container .comment-author-name cite:before {
    content: '\f007';
    padding: 0 2px;
  }
  .comment-block-container .comment-info-container .comment-author-name cite,
  .comment-block-container .comment-info-container .comment-author-name cite a {
    font-size: 12px;
    padding: 0 4px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 600px) {
  .flex-caption {
    top: 10%;
    left: 0;
    right: auto;
  }
  .flex-caption .featured-heading,
  .flex-caption .featured-content,
  .flex-caption .featured-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .flex-caption .featured-heading {
    font-size: 20px;
    width: 60%;
  }
  .flex-caption .featured-content {
    font-size: 1em;
    width: 85%;
    margin-top: 3%;
  }
}
@media only screen and (max-width: 600px) {
  .footerbox-cols {
    width: 100%;
    clear: both;
  }
}
@media only screen and (max-width: 550px) {
  .loop-section-col {
    width: 100%;
    clear: both;
    padding-left: 20px;
    padding-right: 20px;
  }
  .loop-section-col:nth-child(3n+1) {
    clear: none;
    padding-left: 20px;
  }
  .loop-section-col:nth-child(3n+3) {
    padding-right: 20px;
  }
  .loop-section-col:nth-child(2n+1) {
    clear: none;
    padding-left: 20px;
  }
  .loop-section-col:nth-child(2n+2) {
    padding-right: 20px;
  }
  .social-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 6px;
    background-color: #555555;
    color: #EEEEEE;
    z-index: 101;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .social-section .telephone-text {
    font-size: 12px;
  }
  .logo-section {
    margin-top: 30px;
  }
}

.sticky{}
.bypostauthor{}
.screen-reader-text{}